<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="ConnexionAppSmartLocker"
              providerName="System.Data.SqlClient"
              connectionString="Data Source=DESKTOP-97G1U8O\SQLEXPRESS;Initial Catalog=AppSmartLocker;Integrated Security=SSPI"/>

    </connectionStrings>
</configuration>

